body{
    background-color: #CDCFC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    background-color: #7D9CA0;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}

#title{
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#winner{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: green;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{    
  width: 80px;
  height: 40px;
  gap: 20px;
  background-color: white;
  color: black;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 5px 5px 10px #595959;

}
button:hover{
    background-attachment: fixed;
    background-color: #A6A6A6;
    color: white;
}

.text{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cardT{
    flex-direction:row;
}

.carta{
    width: 100px;
    height: auto;
    margin: 5px;
    box-shadow: 5px 5px 10px #595959;
}